
.Northern-Lights-Beach-1-rgba { color: rgba(1, 34, 63, 1); }
.Northern-Lights-Beach-2-rgba { color: rgba(1, 89, 57, 1); }
.Northern-Lights-Beach-3-rgba { color: rgba(2, 114, 51, 1); }
.Northern-Lights-Beach-4-rgba { color: rgba(3, 165, 60, 1); }
.Northern-Lights-Beach-5-rgba { color: rgba(4, 216, 57, 1); }

